@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/utilities';

@import './vendors/bootstrap/bootstrap-grid.scss';
@import './vendors/bootstrap/bootstrap-utilities.scss';
@import './vendors/bootstrap/bootstrap-reboot.scss';
@import './vendors-extensions/bootstrap';

@import './base/resets';
@import './base/base';
@import "./base/fonts";
@import "./base/icon-fonts";
@import './base/typography';
@import './base/utilities';
@import './base/animation';

@import './components/menu';
@import './components/button';
@import './components/carousel';
@import './components/cart';
@import './components/team-cart';
@import './components/social-media';
@import './components/select-dropdown';
@import './components/department-cart';
@import './components/appointment-modal';
@import './components/blog-cart';
@import './components/search';
@import './components/login-modal';
@import './components/register-modal';

@import './layouts/header';
@import './layouts/footer';
@import './layouts/form';

@import './pages/home';
@import './pages/doctors';
@import './pages/doctor-details';
@import './pages/timetable';
@import './pages/all-departments';
@import './pages/department';
@import './pages/blog';
@import './pages/blog-details';
@import './pages/profileSetting';
@import './pages/profile';
@import './pages/contact_us';
