.btn {
    display: inline-block;
    cursor: pointer;
    padding: .75rem 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &--black{
      font-size: 1.3rem !important;
      white-space: nowrap;
      &::after{
        background-color: rgb(34, 34, 34) !important;
      }
      &::before{
        background-color: darken(rgb(34, 34, 34), 15%) !important;
      }
      
    }
    &--login{
      width: 100%;
      text-align: center;
    }
    &--menu{
      min-width: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        padding: 15px 11px;
        border-radius: 8px;
        text-transform: uppercase;
        border: 1px solid rgba(255,255,255,0.5);
        &:hover{
            background-color: #3B4046;
            color: #C9FFC7;
            border: 1px solid transparent;
        }
    }
    &--blue{
      font-size: 1.3rem !important;
      white-space: nowrap;
      &::after{
        background-color: $blue-baby !important;
      }
      &::before{
        background-color: darken($blue-baby, 15%) !important;
      }
      
    }
    &--bigger{
        font-size: 1.5rem;
        padding: 1.2rem 2rem;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue-v2;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($blue-v2, 15%);
      transition: all .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }