.carousel {
    // background-image: url("../icons/Vector-slider.svg");
    // background-position: left bottom;
    // background-repeat: no-repeat;
    &--none{
        background-color: transparent;
        margin-bottom: 2.4rem;
    }
    &__wrapper{
        padding: 5rem 0;
        background-color: $white;
        &--pad{
            padding: 0%;
        }
    }
    &__content{
        position: relative;
        z-index: 3;
        max-width: 65rem;
        padding-right: 3rem;
        padding-left: 10rem;
        padding-top: 8rem;
        padding-bottom: 14rem;
    }
    &__cell{
        width: 100%;
        height: auto;
        margin-right: 10px;
        border-radius: 5px;
        position: relative;
        margin: 0%;
        &--store{
            width: auto;
            margin-right: 4.2rem;
        }
        //background-image: url("../images/slider-1.jpg");
        &--department{
            width: 30%;
            margin-right: 4.2rem;
        }
        &--blog{
            width: 30%;
            margin-right: 4.2rem;
        }
    }
    &__img{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    &__store-link{
        width: 200px !important;
        height: 200px !important;
        background-color: #fff;
        border: none !important;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__store-img{
        max-height: 170px;
        max-width: 170px;
        width: auto;
        height: auto;
    }
    &__text{
        font-weight: 300;
        color: $white;
        font-size: 48px;
        line-height: 150%;
        letter-spacing: 0.35rem;
        &--special{
            font-weight: 600;
        }
        &--dark{
            color: rgb(51, 51, 51);
        }

    }
    &__desc{
        max-width: 52rem;
        margin-top: 2.4rem;
        margin-bottom: 5.8rem;
        line-height: 2.8rem;
        color: $white;
        &--dark{
            color: rgb(51, 51, 51);
        }
    }
    // &__img{
    //     max-width: 55rem;
    //     position: absolute;
    //     bottom: 0%;
    //     right: 0%;

    // }
    &__store-link{
        width: 200px !important;
        height: 200px !important;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #181C1F;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__store-img{
        max-height: 170px;
        max-width: 170px;
        width: auto;
        height: auto;
    }
    &__btn{
        display: none;
        margin: 20px 50px;
    }
  }

  .flickity-page-dots .dot {
    display: none;
}
.flickity-prev-next-button .flickity-button-icon{
    left: 30%;
    width:38%;
}

.all-departments{
    .previous{
        left: -30px;
        &:hover{
            border: 1px solid $blue-v3;
        }
    }
    .next{
        right: -30px;
        &:hover{
            border: 1px solid $blue-v3;
        }

    }
    .flickity-page-dots .dot {
        display: inline-block;
    }
}

.blog{
    .previous{
        left: -30px;
        &:hover{
            border: 1px solid $blue-v3;
        }
    }
    .next{
        right: -30px;
        &:hover{
            border: 1px solid $blue-v3;
        }

    }
    .flickity-page-dots .dot {
        display: inline-block;
    }
}
