.fixed{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 222;
}

.my-8{
    margin: 15rem 0;
}

.visibility{
    opacity: 0 !important; 
    visibility: hidden !important;
}
.pb-32 {
    padding-bottom: 3.2rem;
}