.blog-details{
    &__main-content{
        margin: 0 0 30px;
    }
    &__img{
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin-bottom: 38px;
        & img{
            width: 100%;
            height: auto;
        }
    }
    &__content{
        padding: 0 0 21px;
    }
    &__info-top{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 3px;
        & span{
            position: relative;
            display: inline-block;
            padding-right: 8px;
            margin-right: 3px;
            color: #4e6dcc;
            font-weight: 600;
        }
        & span:not(:last-child)::after{
            content: "/";
            position: absolute;
            top: 0;
            right: -2px;
        }
    }
    &__main-text{
        & div{
            padding-top: 8px !important;
            padding-bottom: 11px !important;
            margin-left: -15px;
            margin-right: -15px;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
        & p{
            margin: 10px 0;
            color: rgb(110, 110, 110);
        }
         & blockquote{
            text-align: left;
            position: relative;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            font-family: Poppins,sans-serif;
            color: #000;
            font-weight: 400;
            margin: 20px 0;
            padding: 0 0 10px 95px;
            font-size: 18px;
            line-height: 30px;
            text-align: left;
            quotes: none;
            box-sizing: border-box;
            &::after{
                position: absolute;
                left: 45px;
                top: 7px;
                font-family: FontAwesome;
                content: "\f10e";
                color: #4e6dcc;
                font-size: 35px;
            }
         }
    }
    &__title{
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 1.58em;
        font-weight: 600;
    }
    &__main-footer{
        position: relative;
        @include flexbox(space-between);
        width: 100%;
        vertical-align: middle;
        margin: 31px 0 0;
        border-top: solid 1px #dadada;
        padding-top: 16px;
        &--left{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            & a{
                margin: 0 21px 3px 0;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                color: #333;
                transition: color .2s ease-out;
                & i{
                    font-size: 1.6rem;
                }
                &:hover{
                    color:$blue-v3;
                }
            }
        }
        &--right{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            font-size: 1.4rem;
            color: #333;
            &>span{
                font-weight: 500;
                transition: color .2s ease-out;
                cursor: pointer;
                &:hover{
                    color:$blue-v3;
                }
            }
        }
       
    }
    &__comment-icon{
        font-size: 14px;
        color: #333;
        display: inline-block;
        margin-left: 17px;
        color: #4e6dcc;
        & a{
            color: #4e6dcc;
            //color:$white;
            font-weight: 500;
            & i{
                font-size: 16px;
            }
        }
        
    }
    &__related{
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #dadada;
        padding: 39px 0 19px;
        & h5{
            margin: 0 0 20px;
            color: #333;
            font-size: 17px;
            font-weight: 500;
            line-height: 1.66em;
        }
    }
    &__posts{
        margin: 0 -10px;
        @include flexbox(space-between);
    }
    &__post{
        position: relative;
        display: inline-block;
        margin: 0 0 20px;
        padding: 0 10px;
        & a{
            display: inline-block;
        }
        & img{
            max-width: 100%;
            height: auto;
        }
        & h5{
            margin: 28px 0 0;
            color: #333;
            font-size: 17px;
            font-weight: 600;
            line-height: 1.66em;
            &:hover{
                color: $blue-v3;
            }

        }
        & a:hover img{
            opacity: 0.65;
        }
    }
    &__post-info{
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin: -4px 0 0;
        & span{
            display: inline-block;
            position: relative;
            vertical-align: top;
            padding: 0 13px 0 0;
            color: inherit;
            font-weight: 500;
            font-size: 12px;
            &:not(:last-child)::after{
                position: absolute;
                top: 0;
                right: 3px;
                content: '/';
                font-size: 12px;
            }
            &:last-child{
                color:$blue-v3;
            }
        }
    }
    &__next{
        position: relative;
        width: 100%;
        vertical-align: middle;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #dadada;
        padding: 39px 0 30px;
        & a{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            color: #000;
            font-weight: 500;
            transition: color .2s ease-out;
            &:hover span{
                color:$blue-v3;
            }
            & img{
                text-align: right;
                max-width: 100%;
                height: auto;
                width: 13rem;
            
            }
            & span{
                right: 160px;
                font-weight: 600;
                margin-right: 3rem;
                //position: absolute;
                //top: 50%;
                //transform: translateY(-50%);
                display: inline;
            }
        }
    }
    &__doctor{
        position: relative;
        display: flex;
        width: 100%;
        vertical-align: middle;
        padding: 0;
        background-color: transparent;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #dadada;
        padding: 36px 0 12px;
        min-height: 78px;
        & a{
            color: #333;
            -webkit-transition: color .2s ease-out;
            -moz-transition: color .2s ease-out;
            transition: color .2s ease-out;
            margin-top: 7px;
            & img{
                display: block;
                border-radius: 5em;
                max-width: 100%;
            }
        }
    }
    &__doctor-img{
        position: relative;
        padding: 4px 0 0 40px;
        text-align: left;
        & h5{
            color: #333;
            transition: color .2s ease-out;
            font-weight: 600;
            font-size: 1.6rem;
        }
        & div{
            position: relative;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            margin: 5px 0 14px;
        }
    }
    &__doctor-media{
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        & a{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            margin: 0 15px 0 0;
            font-size: 14px;
            color: #333;
            transition: color .2s ease-out;
            &:hover{
                color:$blue-v3;
            }
        }

    }
    &__comments{
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #dadada;
        padding: 40px 0;
        & h5{
            margin-bottom: 28px;
            font-size: 17px;
            font-weight: 600;
            line-height: 1.66em;
            color: #333;
        }
    }
    &__comments-main{
        position: relative;
        z-index: 150;
    }
    &__comments-first{
        display: flex;
        padding: 3rem 0;
        border-top: 1px solid #dadada;
        &--sub{
            margin-left: 5rem;
        }
    }
    &__comments-first-img{
        display: block;
        left: 0;
        width: 120px;
        height: 120px;
        & img{
            display: block;
            border-radius: 4em;
        }
    }
    &__comments-first-info{
        padding: 0 0 0 50px;
        min-height: 82px;
        & h5{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 80%;
            margin: 0 0 7px;
            font-size: 17px;
            font-weight: 500;
            line-height: 1.66em;
        }
        & p{
            margin: -2px 0 13px;
        }
    }
    &__comments-first-mini{
        & span{
            color: #acacac;
            margin: 0;
            font-size: 12px;
        }
    }
    &__comments-first-reply{
        font-size: 12px;
        cursor: pointer;
        padding: 8px 5px 0 15px;
        color: #acacac;
        & i{
            color: #000;
            font-size: 10px;
            
        }
    }
}