
.contact-us{
    width: 100%;
    margin: 50px 0;
    .contact-wrapper{
        display: flex;
        justify-content: space-between;
        .country-locations{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            .country{
                padding: 0 15px;
                width: 310px;
                margin-bottom: 30px;
                h5{
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 28px;
                    margin-top: 20px;
                    margin-bottom: 15px;
                }
                a{
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 26px;
                    color: rgb(110, 110, 110);
                    transition: color 0.3s ease;
                    &:hover{
                        color: $blue-light;
                    }
                }
            }
        }
        .contact-form{
            width: 50%;
            padding: 0 15px;
            form{
                margin-top: 25px;
                input,textarea
                {
                    display: block;
                    width: 100%;
                    padding: 11px 17px;
                    margin-bottom: 15px;
                    border: none;
                    outline: none;
                    color: black;
                    background-color: rgb(245, 245, 245);
                    font-size: 14px;
                    border-radius: 8px;
                    &::placeholder{
                        color: rgb(185, 185, 185);
                    }
                    
                }
                textarea{
                    height: 165px;
                    resize: none;
                }
                label{
                    display: none;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    color: red;
                    font-size: 12px;
                }
                .error{
                    display: block !important;
                }
                .error-input{
                    border: 1px solid red;
                    margin-bottom: 0px;
                }
                .success-input{
                    border: 1px solid green;
                    margin-bottom: 15px;
                }
                button{
                    padding: 0px;
                    border: none;
                    outline: none;
                    color: white;
                    line-height: 16px;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 16px 23px;
                    background-color: $blue;
                    height: 100%;
                    border-top-left-radius: 8px !important;
                    border-bottom-left-radius: 8px !important;
                    background-color: #6699CC;
                }
                i{
                    color: white;
                    padding: 12px;
                    background-color: #448ed8;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
}

@media (max-width: 767.98px) { 
    .contact-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .contact-us .contact-wrapper .country-locations{
        width: 100%;
    }
    .contact-us .contact-wrapper .contact-form {
        width: 100%;
    }
    .contact-us .contact-wrapper .country-locations .country {
        width: 100%;
    }
 
  }