.timetable-main{
    background-image: url('../images/timetable-parallax-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 26rem;
}
.timetable{
    width: 100%;
    font-family: "Poppins",sans-serif;
    & .bg-light-gray {
        background-color: #f7f7f7;
    }
    & .table-bordered{
        margin: 0;
        width: 100%;
    }
    & .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 2px;
    }
    & .table thead{
        background-color: #F0F0F0 !important;
    }
    & .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        font-size: 14px!important;
        font-weight: 500;
    }
    & .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }
    
    & .padding-15px-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    & .padding-5px-tb {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    & .margin-15px-bottom {
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 1rem;
        display: inline-block;
    }
    & .border-radius-5 {
        border-radius: 5px;
        color: #4f6dcd!important;
        display: inline-block;
        margin-top: 1rem;
        max-width: 13rem;
        line-height: 2rem;
    }
    
    & .margin-15px-top {
        margin-top: 15px;
    }
    & .font-size14 {
        font-size: 14px;
    }
    
    & .text-light-gray {
        color: #4f6dcd!important;
    }
    & .font-size13 {
        font-size: 13px;
    }
    
    & .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }
    & .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        
    }
    & .table td{
        font-weight: 500;
        color: #979797!important;
        text-transform: uppercase;
        font-size: 12px!important;
        position: relative;
    }
    &__dropdown{
        position: absolute;
        bottom: 100%;
        width: 80%;
        color: $white!important;
        background: #4e6dcc;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
        line-height: 18px;
        transform: translate(-50%,0);
        left: 50%;
        z-index: 1;
        &::before{
            content: "";
            z-index: -1;
            background: #4e6dcc;
            position: absolute;
            left: 50%;
            transform: rotate(45deg) translate(0%,50%);
            width: 3rem;
            height: 3rem;
            bottom: 5px;
        }
    }

    &__select{
        padding: 1rem 2rem;
        border: 1px solid $gray;
        outline:none;
        margin-bottom: 3rem;
        
    }
    &__option{
        padding: 1rem 2rem;
        border: 1px solid $gray;
        outline:none;
    }
}

.timetable-mobile{
    display: none;
    & h3{
        color: #333!important;
        font-size: 15px!important;
        text-align: left;
        margin-bottom: 20px
    }
    & ul{
        margin-bottom: 3rem;
    }
    & li{
        border-color: #e5e5e5;
        padding: 15px 0!important;
        border-bottom: 1px solid #e0e0e0;
        background-position: left center;
        background-repeat: no-repeat;
        line-height: 120%;
        display: flex;
        justify-content: space-between;
        & span:first-child{
            color: #4e6dcc!important;
            font-size: 14px!important;
        }
        & span:not(:first-child){
            color: #34495e!important;
            font-size: 14px!important;
        }
    }
}


@media (max-width: 991.98px) { 
    .timetable-mobile{
        display: block;
    }
    .timetable{
        display: none;
    }
  }